.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 15px;
}
/*____________________ LOGO ____________________*/
.logo{
    z-index: 102;
}
.logo__first-half {
    color: var(--light-green);
}
.logo__second-half {
    color: var(--dark-green);
}
/*____________________ MENU ____________________*/
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 32px;
}
.menu li {
    display: inline-block;
    transition: transform 0.5s ease;
}
.menu li:hover {
    cursor: pointer;
    transform: scale(1.05);
}
/*____________________ LOGIN ____________________*/
.login button {
    border: 1px solid #3f3f3f;
    line-height: 1;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: all 0.5s ease;
}
.login button:hover {
    transform: scale(1.05);
}
.header-burger:hover {
    cursor: pointer;
}