.find-wrapper {
    position: relative;
    margin: 65px 0 65px;
}
.find-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1220px;
    height: auto;
    background-color: black;
}
.find-gradient-bg {
    position: relative;
    flex: 1 1;
}
.find-gradient {
    position: absolute;
    top: 0;
    left: 100%;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to left, rgba(0, 0, 0, 0), #000000);
    /* z-index: 1; */
}
.find-content {
    position: absolute;
    top: 103px;
    left: 22%;

    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 521px;
    height: auto;
}
.find-content .title {
    margin-bottom: 10px;
    font-family: "Source Serif 4";
    font-size: 44px;
    font-weight: 800;
}
.find-content p {
    margin: 10px 0 24px 0;
}
.find-button button{
    transition: all 0.3s ease;
}
.find-button button:hover {
    transform: scale(1.02);
}

