.cabin-details {
    color: black;
}
.description {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
h1 {
    font-size: 24px;
    font-weight: 600;
    
}
h2 {
    font-size: 18px;
    font-weight: 600;

}