.discover-wrapper {
    margin-top: 114px;
}
.discover-title {
    margin: 0 0 16px 0;
    font-family: "Source Serif 4";
    font-size: 28px;
    font-weight: 800;
    color: #22223c;
}
.underline {
    position: relative;
    display: inline-block;
}
.underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 110%;
    height: 2px;
    background-color: var(--orange);
}
.discover-desc {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.desc {
    margin: 16px 0;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    color: #47475f;
}
.view-all {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid #4a4a4a;
    color: #4a4a4a;
    line-height: 1;
    transition: all 0.3s ease;
}
.view-all:hover {
    cursor: pointer;
    transform: scale(1.05);
}