
.form-container {
    display: flex;
    justify-content: center;
    min-height: 120px;
    width: 1041px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 4px;
    
    position: absolute;
    bottom: -60px;
    right: 50%;
    transform: translateX(50%);
    z-index: 2;
}

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    max-width: 100%;
    gap: 8px;
    padding: 12px 28px;
}
/* .form input,
.travellers,
.button {
    background-color: #eaeaea;
    border-radius: 4px;
    color: #565656;
} */
/* .form button {
    height: 56px;
    width: 236px;
} */