@media (max-width: 1039px) {
    .form {
        max-width: 800px !important;
        padding: 20px 0 !important;
    }
    .form-container {
        width: 800px;
        right: 50%;
        transform: translateX(50%);
        bottom: -30% !important;
    }
    }

@media (max-width: 799px) {
    .form {
        gap: 15px !important;
    }
    .form-container {
        width: 345px;
        bottom: -85% !important;
    }
}