/* @import url("./location/style.css");
@import url("./datepicker/style.css");
@import url("./travellers/style.css");
@import url("./button/style.css"); */
@import url('./headerSearchMedia.css');

.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1040px;
    min-height: 120px;
    gap: 8px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    padding: 12px 28px;
}
.form-container {
    position: absolute;
    bottom: -60px;
    z-index: 2;
    /* right: 50%; */
    /* transform: translateX(50%); */
}
.form input,
.travellers,
.button {
    background-color: #eaeaea;
    border-radius: 4px;
    color: #565656;
}
.form button {
    height: 56px;
    width: 236px;
}