.about-wrapper {
    margin: 65px 0 65px;
}
.about-title {
    font-family: "Source Serif 4";
    font-size: 28px;
    font-weight: 700;
    color: #1f3d3e;
}
.about-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 17px 0;
}
.desc h1 {
    color: #44445c;
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 600;
}
ul li {
    list-style: disc;
    margin-left: 20px;
    color: #4a4a4a;
    font-family: "Poppins";
    font-size: 14px;
    font-weight: 400;
}
.about-info button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 680px;
    height: 90px;
    padding: 0 24px 0 31px;
    background-color: var(--orange);
    font-size: 14px;
    font-weight: 500;
    color: black;
    border: 1px solid #bec2d9;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.live-chat {
    font-family: "Poppins";
    color: black;
}
.live-chat h1 {
    font-size: 16px;
    font-weight: 600;
}
.live-chat p {
    font-size: 14px;
    font-weight: 400;
}
.live-chat button {
    font-weight: 600;
    border-bottom: 1px solid black;
    width: auto;
    height: auto;
    border-radius: 0;
    transition: all 0.3s ease;
}
.live-chat button:hover {
    transform: scale(1.02);
}