.header-content {
    position: absolute;
    top: 20%;
    left: 8%;
    display: flex;
    flex-direction: column;
    max-width: 545px;
    height: auto;
    z-index: 1;
    padding: 5px;
}
.highlight {
    color: var(--orange);
}
.header-text {
    font-family: "Poppins";
    font-size: calc(8px + 8 * (100vw / 1561));
    font-weight: 400;
    margin: 10px 0 30px;
}

.header-reviews {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    height: 47px;
    position: relative;
}
.review-img img {
    outline: 2px solid black;
    outline-offset: -2px;
    border-radius: 50%;
    /* width: 47px; */
    width: calc(27px + 20 * (100vw / 1561));
    height: auto;
}
.review-1,
.review-2,
.review-3,
.review-4,
.review-5 {
    position: absolute;
    top: 0;
    /* width: 47px; */
    width: calc(27px + 20 * (100vw / 1561));
    height: auto;
}
.review-1 {
    left: 0;
    z-index: 1;
}
.review-2 {
    left: 40px;
    z-index: 2;
}
.review-3 {
    left: 80px;
    z-index: 3;
}
.review-4 {
    left: 120px;
    z-index: 4;
}
.review-5 {
    left: 160px;
    z-index: 5;
}
.review-stars {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars {
    display: flex;
}
.star {
    margin: 0 1.2px;
    padding: 4px;
    background-color: var(--light-green);
}
.star img {
    display: block;
    width: 100%;
    height: auto;
}
.points {
    margin-left: 12px;
    font-family: "Helvetica";
    font-size: 14px;
    font-weight: 400;
}