.bg-footer {
    position: relative;
    width: 100%;
    height: 100%;
}
.pre-footer-content {
    position: absolute;
    top: 210px;
    left: 264px;
    max-width: 513px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.shadow {
    position: absolute;
    bottom: 0;
    left: 0;
}