.img-gradient {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    background: black;
}
.header-img {
    width: 70%; 
    height: auto;
}
.header-gradient {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 30%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #2f2e36);
    z-index: 1;
}