.footer-form {
    display: flex;
    justify-content: space-between;
}
.footer-desc h1 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 11px;
    color: var(--lime);
}
.footer-desc p {
    max-width: 463px;
    color: #eaeaf1;
    margin-right: 10px;
}
.form-content {
    display: flex;
    align-items: end;
    gap: 12px;
}
.mail-form {
    height: 54px;
    width: 304px;
    border-radius: 6px;
    background-color: #fff;
    padding: 0 20px;
    color: black;
}
.footer-line {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: #346769;
    margin-top: 25px;
}